# Example of .env file. Don't make any change on this file directly
# Firstly, run `mv flask.env.example .env` and then fill in necessary values

# Provide the app name
FLASK_APP=app

# Fill in either 'production' or 'development'
FLASK_ENV=development

# Fill in one of the following: 
# "development" - for loading dev configuration, 
# "testing" - for testing configuration
FLASK_CONFIG=default